@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

.Sceendiv1 {
  margin: 0 auto;
  width: 100%;
  height: 26rem;
  border-bottom: 5px solid black;
  position: relative;
}

.Sceendiv2 {
  height: 25.4rem;
  border: 5px solid #333333;
  background-color: #666666;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Sceendiv3 {
  width: 97%;
  height: 94%;
  background-color: #333333;
}

.Sceendiv4 {
  background-color: #333333;
  width: 100%;
  height: 100%;
  border-bottom: 5px solid #cccccc;
  border-left: 5px solid #cccccc;
  border-top: 5px solid #333333;
  border-right: 5px solid #333333;
  position: relative;
}

.Sceendiv5pato1 {
  background-color: #333333;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pato1::after,
.pato2::after,
.pato3::after,
.pato4::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.pato1::after {
  background-image: url("../../../assets/pato1.png");
}
.pato2::after {
  background-image: url("../../../assets/pato2.png");
}
.pato3::after {
  background-image: url("../../../assets/pato3.png");
}

.pato4::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../../assets/pato4.png");
}

.blink {
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 2;
}
@keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.SceenP {
  margin: 1rem;
  color: #ff6600;
  font-family: "VT323", monospace;
  line-height: 1.5rem;
  font-size: 2rem;
  text-align: center;
  z-index: 1;
}

@media (max-width: 767px) {
  .Sceendiv1 {
    width: 87vw;
    height: 29rem;
    border: 5px solid black;
    position: relative;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.399);
  }

  .Sceendiv2 {
    height: 28.4rem;
    border: 5px solid #333333;
    background-color: #666666;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Sceendiv3 {
    width: 93%;
    height: 92%;

    background-color: #333333;
  }

  .Sceendiv4 {
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    border-bottom: 5px solid #cccccc;
    border-left: 5px solid #cccccc;
    border-top: 5px solid #333333;
    border-right: 5px solid #333333;
    position: relative;
  }

  .Sceendiv5 {
    background-color: #333333;
    max-width: 100%;
    height: 100%;
    position: relative;
    overflow: scroll;
  }

  .pato1::after,
  .pato2::after,
  .pato3::after,
  .pato4::after {
    content: "";
    position: sticky;
    top: 0;
    left: 0;
    transform: scale(0.7);
  }

  .SceenP {
    position: absolute;
    top: 0;
    margin: 2rem 1rem;
    color: #ff6600;
    font-family: "VT323", monospace;
    line-height: 1.5rem;
    font-size: 1rem;
    text-align: center;
  }
}

.Sceendiv5::-webkit-scrollbar-track {
  background-color: #4c515c;
}

.Sceendiv5::-webkit-scrollbar {
  width: 12px;
  background-color: var(--BACKGROUND-COLOR);
}

.Sceendiv5::-webkit-scrollbar-thumb {
  background-color: #191717;
}
